@font-face {
	font-family: "StardewFont";
	src: url("./Fonts/stardew-valley-stonks.otf") format("opentype");
	}
*
{
	font-family:StardewFont;
}

.banner
{
	font-size:90px;
	font-weight:bold;
	text-align:center;
	padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: inset 0px 0px 13px 7px #000000bd;
	transition: 15s;
	/* height: 200px; */
}

.banner:hover{
	background-position-y: top;
}

.blurFrame
{
	background-color: rgba(110, 110, 110, 0.088);
    width: fit-content;
    padding: 40px 20px 25px 30px;
    border-radius: 50px;
    backdrop-filter: blur(14px);
    border: 3px solid wheat;
    color: wheat;
    font-weight: 100;
	transition: 0.5s;
}

.blurFrame:hover {
	transform: scale(1.1);
	transform: rotate3d(1, 2, 3, 10deg);

}

body 
{
  background-color: #ffcc7d;
  /* background: linear-gradient(270deg, #fecc7d 10% , #e2793f ); */
  margin: 0px;
  background-image:url(./Images/TopBanner.png);
}

.calendarHeading
{	
	background-image:url(./Images/StardewBanner.png);
	background-position-x: center;
	background-position-y: bottom;
	color:#f7e927;
}

.center
{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

#chicken
{
transition: 2s;
}

#chicken:hover
{
	transform: translateX(-100px);
}

.contactUsHeading
{
	background-image:url(https://wallpaperaccess.com/full/2838989.jpg) ;
	background-size: contain;
	color:#e73d3d;
}

.dateBox
{
	text-align: left;
	height: 130px;
	width: 130px;
}

.eventCaption{
	text-align: center;
	transition: 0.5s
}

.eventDate{
	margin-bottom: 3px;
	transition: 0.5s;
}

.eventPortrait
{
	height: 80px; 
	width: auto;
	transition: 0.5s;
}


h1
    {
        font-size: 40px;
        font-weight: bold;
		color: #a72c2c;
    }

h2
{
	color:white;
	font-size:32px;
	font-weight:bold;
	text-align:center;
}

h3
{
	font-weight:bold;
}

.menuButton {
	background-image:url(./Images/MenuButtonNew.png);
	background-repeat: off;
  	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border: 0px;
	background-color: #00000000;
	transition: 0.5s;
  }

.menuButton:hover{
	transform: scale(1.1);
}

.menuButtonDiv
  {
	display: flex; 
	justify-content: end; 
	align-items: center;
  }

.seasonButton
{
	background-image:url(./Images/SmolButtOn.png);
	background-repeat: no-repeat;
  	background-size: 148px 42px;
	width: 150px;	
    height: 42px;
	color: #c1595b;
	font-size: 16px;
	padding: 14px 16px;
	transition: 0.2s;
}

.seasonButton:hover{
	cursor: pointer;
	scale: 1.1;
}

.tab {
	overflow: hidden;
	border-bottom: 3px solid #a4582c;
	/* background-color: #ffcc7d; */
	transition:0s;
	background-image:url(./Images/TopBanner.png);
	background-position-x: center;
	background-position-y: bottom;
  }

  .tab .tablinks {
	background-color: #e27a3d00;
    float: left;
    border: 0px solid #e2793f;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    transition: border 0.3s;
    margin-right: 5px;
    width: 150px;
    color: #c1595b;
    margin: 5px;
	font-size: 16px;
    /* border-radius: 2px; */
  }

  .tab .tablinks:hover {
	background-color: #ac573f00;
    /* border: 3px solid #5b211a4f; */
	transform: scale(1.1);
  }

  .tablinks {
	background-image:url(./Images/SmolButtOn.png);
	background-repeat: no-repeat;
  	background-size: 148px 42px;
  }

  table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }
 
  td {
	padding: 10px;
	transition: 0.5s;
	background-color: #faebc3;
  }

  td:hover{
	cursor: pointer;
	background-color: #bfb59b;
	.eventPortrait{
		scale: 1.1;
	}
	.eventCaption{
		scale: 1.05;
	}
	.eventDate{
		scale: 1.05;
	}
  }

  th, td {
    text-align: center;
  }

  tr {
	border-radius: 20px;
  }

  .titleHeading {
	background-image:url(./Images/PathBanner.png);
	background-position-x: center;
	background-position-y: bottom;
	color:#f7e927;
  }

