body
{
    background-color: #1e1d2e;
}

.button
{
    height: 100px;
    width: 100px; 
    background-color: #ffffff; 
    border-radius: 50%;
    transition: 0.25s;
}

.button:hover
{
    background-color: #9a9a9a; 
    cursor: pointer;
    height: 105px;
    width: 105px; 
}

.button2
{
    height: 100px;
    width: 200px; 
    background-color: #ffffff; 
    border-radius: 50px;
    transition: 0.25s;
}

.button2:hover
{
    background-color: #9a9a9a; 
    cursor: pointer;
    height: 105px;
    width: 210px; 
}

.center
{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

div
{
    color: black;
    font-size: 50px;
}